<ion-header>
	<ion-navbar>
		<!--<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
		<ion-title>
			Nueva Cita
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>

		<ion-item>
			<ion-label>Vehiculo</ion-label>
			<ion-select [(ngModel)]="appointment.vehicle">
				<ion-option *ngFor="let v of vehicles">{{v.name}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label stacked>Kilometraje Actual</ion-label>
			<ion-input type="number" [(ngModel)]="appointment.kms"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Raz&oacute;n de la visita</ion-label>
			<ion-select [(ngModel)]="appointment.reason">
				<ion-option *ngFor="let r of reasons">{{r}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label>Dia</ion-label>
						<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="appointment.date"></ion-datetime>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-item>
						<ion-label>Hora</ion-label>
						<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="appointment.time"></ion-datetime>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>

		<ion-item>
			<ion-label>Comentarios</ion-label>
			<ion-textarea [(ngModel)]="appointment.comments"></ion-textarea>
		</ion-item>

	</ion-list>
	<button ion-button block (click)="create()">Crear Cita</button>

	<button ion-button color="light" block (click)="close()">Cancelar</button>

</ion-content>