<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content color='navbarColor'>
  <ion-list>
    <ion-list-header style="background-color:#e91e63; color:white">
      Vehiculos en taller
    </ion-list-header>
    <ion-item *ngFor="let car of CarList">
      <ion-grid>
        <ion-row>
           {{car.Modelo}}
        </ion-row>
        <ion-row>
          <ion-badge item-right>{{car.Status}}</ion-badge>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list-header style="background-color:#009688; color:white">
      Noticias
    </ion-list-header>
    <ion-item *ngFor="let news of NewsList">
      <ion-grid>
        <ion-row>
          {{news.Title}}
        </ion-row>
        <ion-row>
          <ion-badge item-right>{{news.Created}}</ion-badge>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list-header style="background-color:#3f51b5; color:white">
      Eventos
    </ion-list-header>
    <ion-item *ngFor="let event of EventList">
      <ion-grid>
        <ion-row>
          <button ion-button clear (click)="EventDetail()">{{event.Title}}</button>
        </ion-row>
        <ion-row>
          <ion-badge item-right>{{event.EventDateTime}}</ion-badge>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>